# IS THE OUTPUT EQUAL TO THE NODE FILE (INPUT)?

In [1]:
import pandas as pd

In [2]:
input_control_healthy = pd.read_csv('../inputs/secretome/healthy_Ctrl_nodes.txt',sep=' ',index_col=0,names=['protein','score','boh'])
input_control_healthy = input_control_healthy[input_control_healthy.columns.tolist()[:1]]
output_control_healthy = pd.read_csv('../outputs/secretome/healthy_Ctrl_output.txt',sep='\t',index_col=0,names=['protein','score'])

In [5]:
input_control_healthy.sort_values('score',ascending=True).tail(10)

             score
protein
CXCL12    0.048875
VCAM1     0.053605
IL1RL1    0.068619
CCL2      0.070673
CCL22     0.076415
CCL20     0.127566
TIMP1     0.598212
VEGFA     0.684797
MMP2      0.928882
SERPINE1  1.000000

In [6]:
output_control_healthy.sort_values('score',ascending=True).tail(10)

             score
protein
MMP13     0.305146
COL7A1    0.307854
MMP9      0.314986
LAMA1     0.316840
SPOCK1    0.321399
MMP3      0.376731
TIMP1     0.630614
VEGFA     0.718570
SERPINE1  0.988335
MMP2      1.000000

# IT'S NOT YEEEEE